<h1>Listing pins</h1>

    <table class="table table-striped">
        <thead>
         
        </thead>

        <tbody>
            <%= render @pins %>
        </tbody>
    </table>

    <br />

 
