<div class="jumbotron">
	<h1>Welcome to ImNotProudOf !</h1>
	<p>
		You've found the home page of the
	    <%= link_to "ImNotProudOf" , "http://imnotproudof.com"%>
	    	website </p>
	</p>
	<p>

<p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>

	</p>
</div>