
			<div class="footer">
		<small>
			<%= link_to "One Month Rails" , "http://onemonthrails.com"%> By 
			<%= link_to "Thomas Pouliquen" , "http://wwww.facebook.com/thomas.pouliquen"%>
		</small>
			</div>